:root {
    --animation-duration: ;
}

html {
    background-color: rgb(240, 208, 65);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    width: 80%;
    min-width: 500px;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
}

.headerButton {
    color: whitesmoke;
    background-color: transparent;
    border-color: transparent;
    outline: none;
    font-size: x-large
}


#logo {
    position: absolute;
}


.fadeOut {
    animation: fadeOut var(--animation-duration);
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% { opacity: 1;}
    100% { opacity: 0;}
}

.fadeIn {
    animation: fadeIn var(--animation-duration);
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

/* ************************************ Module Stuff ************************************ */

#contentHolder {
    width: 80%;
    height: auto;
}


/* ************************************ Menu Stuff ************************************ */

#menuGrid {
    width: 50%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1%;
}

#menuGridAndImageHolder {
    display: flex;
    justify-content: center;
    align-items: center;
}

#menuImageHolder {
    width: 400px;
    height: 267px;
}

.menuImage {
    position: absolute;
    display: block;

    max-width: 400px;
    height: auto;
}

#breakfastFlex {
    display: flex;
    flex-direction: column;
    margin: inherit;
}

#lunchMenuGrid {
    display: flex;
    flex-direction: column;
    margin: inherit;
}

.menuItem {
display: grid;
grid-template-rows: 25% 75%;
grid-template-columns: 75% 25%;
min-height: 60px;
margin-top: 5%;
margin-bottom: 5%;
}

.menuContent {
    height: 100%;
}

#viewImagePrompt {
    text-align: center;
}